@font-face {
  font-family: 'RijksSans';
  src: url(../fonts/ROsanswebtextregular.eot) format("embedded-opentype"), url(../fonts/ROsanswebtextregular.woff) format("opentype");
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: 'RijksSans';
  src: url(../fonts/ROsanswebtextitalic.eot) format("embedded-opentype"), url(../fonts/ROsanswebtextitalic.woff) format("opentype");
  font-style: italic;
  font-weight: normal; }

@font-face {
  font-family: 'RijksSans';
  src: url(../fonts/ROsanswebtextbold.eot) format("embedded-opentype"), url(../fonts/ROsanswebtextbold.woff) format("opentype");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: 'RijksSerif';
  src: url(../fonts/ROserifwebregular.eot) format("embedded-opentype"), url(../fonts/ROserifwebregular.woff) format("opentype");
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: 'RijksSerif';
  src: url(../fonts/ROserifwebitalic.eot) format("embedded-opentype"), url(../fonts/ROserifwebitalic.woff) format("opentype");
  font-style: italic;
  font-weight: normal; }

@font-face {
  font-family: 'RijksSerif';
  src: url(../fonts/ROserifwebbold.eot) format("embedded-opentype"), url(../fonts/ROserifwebbold.woff) format("opentype");
  font-weight: bold;
  font-style: normal; }

* {
  box-sizing: border-box;
}

body, .login-pf body {
    font-size: 100%;
    background: #fff;
    font-family: "RijksSans", "Sans", Arial, sans-serif;
    line-height: 1.5;
    color: #0a0a0a;
    background-image: none;
}

h1 {
  color: #01689B;
}

#logo {
  float: left;
  width: 252px;
  margin-top: -65px;
  margin-bottom: 7px;

}

body > header {
  height: 6em;
}
#kc-container {

  background: #E5F0F9;
  max-width: 600px;
  width: 100%;
  margin: auto;
  padding: 0.5em 2em 2em;
}
#kc-form-buttons {
  margin: 1em 0;
}
ul.user-area {
  font-size: 0.825em;
  list-style: none;
  margin:0 0 2em;
  padding: 0;
  float: right;
}
ul.user-area li {

}

a {
  color: #01689B;
}
a:hover {
  text-decoration: none;
}
textarea, input, .next-button {
  border: 1px solid #E6E6E6;
  border-radius: none;
  font-size: 16px;
  font-family: "RijksSans", "Sans", Arial, sans-serif;
  padding: 0.5em;
  text-decoration: none;
}
label {
  margin: 0.5em 0 0;
  display: block;
}
input[type="text"],input[type="password"],input[type="date"] {
  width: 100%;
  background: #fff;
  color: #222;
}
button, input[type="submit"], .next-button {
  background: #01689B;
  color: #fff;
  border: 0 solid;
  border-radius: 3px;
  display: inline-block;
}
.next-button::after {
  content: "➜";
  margin-left: 0.5em;
  font-weight: bold;
}
.alert {
  background: #fff;
  border: 1px solid #01689B;
  border-radius: 3px;
  padding: 20px;
  color: #01689B;
}
.alert.alert-error {
  background: #FFEDE8;
  border: 1px solid #D0021B;
  color: #D0021B;
}

#kc-social-providers {
  border-top: 3px solid #fff;
  margin-top: 1.75em;
}
#kc-social-providers ul {
  list-style: none;
  padding: 0;
}
#kc-social-providers .reveal.hidden {
/*  display: none;*/
  max-height: 0em;
  transition: max-height 1s;
}
#kc-social-providers .reveal {
  overflow: hidden;
  height: auto;
  max-height: 20em;
  transition: max-height 1s;
}
[data-revealer]::before {
  content: "»";
  font-weight: bold;
  transition: transform 0.2s;
  display: inline-block;
}
[data-revealer].revealing::before {
  transform: rotate(90deg);
}

@media print, screen and (min-width: 40em) {
  #logo {
    margin-left: 50%;
    margin-left: calc( 50% - 22px);
  }
}
@media print, screen and (min-width: 64em) {
  body, .login-pf body {
      font-size: 125%;
      padding: 1em;
  }
  textarea, input, .next-button {
    font-size: 18px;
  }

}

